.nav .ul{
    height:100px;
    width: 100%;
    position:fixed;
    top:0;
    transition-timing-function: ease-in;
    transition:0.5;
}

ul{
    display:flex;
    justify-content: space-between;
    padding: 10px 150px;
    box-sizing: border-box;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

